<template>
    <div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-primary">
                    <div class="card-body card-body">
                        <div>
                            <div class="text-value-lg">{{ estimation_money | currency }}</div>
                            <div>Estimasi pemasukan</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-info">
                    <div class="card-body card-body">
                        <div>
                            <div class="text-value-lg">{{ total_orders }}</div>
                            <div>Jumlah order</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-warning">
                    <div class="card-body card-body">
                        <div>
                            <div class="text-value-lg">{{ total_services }}</div>
                            <div>Jumlah service</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-danger">
                    <div class="card-body card-body">
                        <div>
                            <div class="text-value-lg">{{ total_users }}</div>
                            <div>Jumlah pengguna sistem</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Menu pintasan</h3>
                        <small>Beberapa menu pintasan yang bisa diakses langsung</small>
                    </div>
                    <div class="card-body">
                        <router-link class="btn btn-primary" :to="{name: 'service'}" v-if="$can('service.lihat')">
                            <i class="align-middle c-icon cil-briefcase mr-2"></i>
                            Service
                        </router-link>
                        <router-link class="btn btn-secondary" :to="{name: 'service'}" v-if="$can('order.lihat')">
                            <i class="align-middle c-icon cil-cart mr-2"></i>
                            Order
                        </router-link>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pesanan</h3>
                        <small>Seluruh data pesanan berdasarkan service</small>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Nama layanan</th>
                                    <th>Jumlah pesanan</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="service in services" :key="service.id">
                                    <td>{{ service.name }}</td>
                                    <td>{{ service.total }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Pesan masuk</h3>
                        <small>Semua pesan masuk yang tersimpan di sistem</small>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Nama</th>
                                    <th>Kontak</th>
                                    <th>Pesan</th>
                                    <th>Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="message in messages" :key="message.id">
                                    <td>{{ message.name }}</td>
                                    <td>{{ message.contact }}</td>
                                    <td>{{ message.msg }}</td>
                                    <td>
                                        <button @click="showDestroyMsgModal(message)" class="btn btn-sm btn-danger">
                                            <i class="align-middle c-icon cil-trash mr-2"></i>hapus
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete Order form -->
            <div
                class="modal fade"
                id="destroyMessage"
                tabindex="-1"
                aria-labelledby="orderFormLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5
                                class="modal-title"
                                id="orderFormLabel">
                                Hapus Pesan
                            </h5>
                            <button
                                type="button"
                                class="close"
                                data-dismiss="modal"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-danger">
                                Hapus pesan ini?
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button
                                type="button"
                                class="btn btn-secondary"
                                data-dismiss="modal">
                                <i class="align-middle c-icon cil-x mr-1"></i>
                                Batal
                            </button>
                            <button
                            @click="destroyMsg"
                                type="button"
                                class="btn btn-danger">
                                <i class="align-middle c-icon cil-trash mr-1"></i>
                                Hapus
                            </button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                total_users: "",
                total_orders: "",
                total_services: "",
                estimation_money: "",
                services: {},
                messages: {},
                msg_id: ""
            }
        },
        methods:{
            getSummaryData(){
                axios.get(`${RESTURIV1}/report/summary`)
                    .then(res => {
                        this.total_users = res.data.total_users;
                        this.total_orders = res.data.total_orders;
                        this.total_services = res.data.total_services;
                        this.estimation_money = res.data.estimation_money;
                        this.services = res.data.services;
                        this.messages = res.data.messages;
                    })
                    .catch(() => {

                    });
            },
            showDestroyMsgModal(msg){
                this.msg_id = msg.id;
                $("#destroyMessage").modal('show');
            },
            destroyMsg(){
                axios.delete(`${RESTURIV1}/destroymsg/${this.msg_id}`)
                    .then(() => {
                        $("#destroyMessage").modal('hide');
                        this.msg_id = "";
                        this.getSummaryData();
                    })
                    .catch();
            }
        },
        created(){
            this.getSummaryData();
        },
        mounted() {
            const data = {
                title: "Dashbor"
            }
            Fire.$emit('PageChange', data)
        }
    }

</script>
